<table class='table' *ngIf='samples && samples.length'>
    <thead>
        <tr>
            <th>id</th>
            <th>CurrentPrise</th>
            <th>StandardDeviation</th>
            <th>Values</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let samples of samples '>
            <td>{{ samples.key }}</td>
            <td>{{ samples.currentPrise }}</td>
            <td>{{ samples.standardDeviation }}</td>
            <td>{{ samples.values }}</td>
        </tr>
    </tbody>
</table>
 <h2>  Gaugh Chart</h2>

    <div id="line_chart" [chartData]="line_ChartData" [chartOptions]= "line_ChartOptions" chartType="LineChart" GoogleChart></div>

    <div id="line" [chartData]="line_ChartXY" [chartOptions]= "line_ChartOptionsXY" chartType="LineChart" GoogleChart></div>
